.text-block {
  font-size: 1rem;
  line-height: 1.75;
  color: #e2e8f0; /* Lighter text color for better readability */
}

.text-block p {
  margin-bottom: 1rem; /* Space between paragraphs */
}

.form-container h2 {
  color: #edf2f7; /* Lighter color for headings */
}

.form-container {
  max-width: 800px; /* Max width for the about section container */
  margin: 0 auto; /* Center align the container */
}
