<div class="content p-4">
  <div class="form-container bg-gray-800 text-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">What's StackMaker?</h2>
    <div class="text-block leading-relaxed">
      <p class="mb-4">
        StackMaker is a tool that I created to solve a common problem in our gaming group. When ten people want to play League on our Discord, it often leads to long discussions about who will play with whom. That's why I developed StackMaker, an impartial tool that quickly and fairly creates teams in seconds.
      </p>
      <p class="mb-4">
        Join the growing community of gamers who rely on StackMaker for effortless team creation. Get started today and enhance your gaming experience! If you find it as useful as our group does, consider leaving a tip—this tool is entirely self-made and self-hosted.
      </p>
      <!-- Adjusted logo size -->
      <img src="/assets/img/sapphirix-logo.png" class="logo-image mb-4" alt="Sapphirix Logo">
      
      <!-- Sign-off message -->
      <p class="text-center font-semibold italic">Happy Gaming!<br>Sapphirix</p>
    </div>
  </div>
</div>
