<div class="content p-4">
  <div class="form-container bg-gray-800 text-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">Support StackMaker</h2>
    <div class="text-block leading-relaxed mb-6">
      <p class="mb-4">
        StackMaker is a labor of love, built to enhance your gaming experience by making team creation easy and enjoyable. If you find this tool helpful and would like to support its continued development, consider making a donation. Your support helps keep StackMaker running and improves its features.
      </p>
      <p>
        Choose your preferred method below to make a donation. Every contribution, big or small, is greatly appreciated!
      </p>
    </div>
    <div class="donation-options flex justify-center">
      <iframe id="kofiframe" src="https://ko-fi.com/sapphirix/?hidefeed=true&widget=true&embed=true&preview=true" style="border:none;width:100%;max-width:400px;padding:4px;background:#f9f9f9;" height="712" title="sapphirix"></iframe>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="sapphirix" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
