<div class="content p-4">
  <div class="form-container bg-gray-800 text-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">Support StackMaker</h2>
    <div class="text-block leading-relaxed mb-6">
      <p>
        As a professional full-stack developer, I enjoyed creating StackMaker in my free time and adding it to the catalog of software developed by Sapphirix. There are many exciting projects in the works for the future. If you enjoyed using StackMaker or any of my other products, please consider donating, your support helps maintain the infrastructure!
      </p>
      <p>
        Choose your preferred donation method below. Every contribution, big or small, is greatly appreciated!
      </p>      
    </div>
    <div class="donation-options flex justify-center">
      <iframe id="kofiframe" src="https://ko-fi.com/sapphirix/?hidefeed=true&widget=true&embed=true&preview=true" style="border:none;width:100%;max-width:400px;padding:4px;background:#f9f9f9; border-radius: 8px; overflow: hidden;" height="712" title="sapphirix"></iframe>
    </div>
  </div>
</div>
