<div class="content">
  <div class="form-container" [@fadeInOut]="showTeams ? 'in' : 'out'">
    <!-- Column Titles -->
    <div class="example-container column-titles">
      <div>Name</div>
      <div>Rank</div>
      <div>Main Role</div>
      <div>Secondary Role</div>
      <div>I can't play</div>
    </div>
    
    <form [formGroup]="form">
      <div formArrayName="rows">
        <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i" class="form-row">
          <input type="text" formControlName="name" placeholder="Name">
          <select formControlName="rank">
            <option *ngFor="let rank of ranks" [value]="rank">{{rank}}</option>
          </select>
          <select formControlName="role1">
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
          <select formControlName="role2">
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
          <select formControlName="notPlay">
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
          <button type="button" class="delete-button" (click)="deleteRow(i)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      
      <div>
        <button type="button" id="addButton" (click)="addRow()" class="add-button">
          Add Player<i class="fas fa-plus"></i>
        </button>
        <select formControlName="teamMode">
          <option value="Rank">Sort by Rank</option>
          <option value="Balanced">Balanced</option>
          <option value="Random">Random</option>
        </select>
        <button id="createButton" (click)="createStack()">Create Stacks</button>
      </div>
    </form>
  </div>

  <!-- Overlay Card -->
  <div class="overlay" *ngIf="showTeams" [@fadeInOut]="'in'">
    <div class="card">
      <h2>Created Teams</h2>
      <div *ngFor="let team of teams; let teamIndex = index">
        <h3>Team {{ teamIndex + 1 }}</h3>
        <ul>
          <li *ngFor="let player of team; let roleIndex = index">
            <img [src]="getRoleIcon(player.assigned_role)" alt="Role Icon" class="role-icon">
            Name: {{ player.name }}, Rank: {{ player.rank }}
          </li>
        </ul>
      </div>
      <button (click)="closeOverlay()">Close</button>
    </div>
  </div>
</div>
