<div class="content p-4">
  <div class="form-container bg-gray-800 text-white p-6 rounded-lg shadow-lg">
    <!-- Column Titles for larger screens -->
    <div class="example-container column-titles grid grid-cols-6 gap-4 mb-4 text-center font-bold hidden md:grid">
      <h2>Name</h2>
      <h2>Rank</h2>
      <h2>Main Role</h2>
      <h2>Secondary Role</h2>
      <h2>I can't play</h2>
      <h2></h2>
    </div>
    <form [formGroup]="form">
      <div formArrayName="rows">
        <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i" class="form-row grid grid-cols-1 md:grid-cols-6 gap-4 mb-4 border-b border-gray-500 pb-4">
          <!-- Column Titles for smaller screens -->
          <div class="block md:hidden">
            <label class="text-sm font-bold">Name</label>
          </div>
          <input type="text" formControlName="name" placeholder="Name" required class="p-2 bg-gray-700 text-white rounded" 
                 [class.is-invalid]="attemptedSubmit && row.get('name')?.invalid">
          
          <div class="block md:hidden">
            <label class="text-sm font-bold">Rank</label>
          </div>
          <select formControlName="rank" required class="p-2 bg-gray-700 text-white rounded" 
                  [class.is-invalid]="attemptedSubmit && row.get('rank')?.invalid">
            <option value="">Select Rank</option>
            <option *ngFor="let rank of ranks" [value]="rank">{{rank}}</option>
          </select>
          
          <div class="block md:hidden">
            <label class="text-sm font-bold">Main Role</label>
          </div>
          <select formControlName="role1" required class="p-2 bg-gray-700 text-white rounded" 
                  [class.is-invalid]="attemptedSubmit && row.get('role1')?.invalid">
            <option value="">Select Main Role</option>
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
          
          <div class="block md:hidden">
            <label class="text-sm font-bold">Secondary Role</label>
          </div>
          <select formControlName="role2" class="p-2 bg-gray-700 text-white rounded">
            <option value="">Select Secondary Role</option>
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
          
          <div class="block md:hidden">
            <label class="text-sm font-bold">I can't play</label>
          </div>
          <select formControlName="notPlay" class="p-2 bg-gray-700 text-white rounded">
            <option value=""></option>
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
          
          <div class="block md:hidden">
            <label class="text-sm font-bold"></label>
          </div>
          <button type="button" class="delete-button text-red-500" (click)="deleteRow(i)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="button-container flex gap-4 mt-4">
        <button type="button" id="addButton" (click)="addRow()" class="add-button bg-green-500 text-white py-2 px-4 rounded flex items-center">
          <i class="fas fa-plus mr-2"></i> Add Player
        </button>
        <button type="button" id="deleteAllButton" (click)="deleteAllRows()" class="delete-all-button bg-red-500 text-white py-2 px-4 rounded flex items-center">
          Delete All
        </button>
      </div>
      <div class="separator border-t border-gray-500 my-4"></div>
      <div class="action-container flex flex-col items-center">
        <div class="center-actions flex flex-col gap-4">
          <select formControlName="teamMode" title="Select mode for team creation" class="create-section p-2 bg-gray-700 text-white rounded">
            <option value="Rank">Sort by Rank</option>
            <option value="Balanced">Balanced</option>
            <option value="Random">Random</option>
          </select>
          <button id="createButton" (click)="createStack()" class="create-section bg-blue-500 text-white p-2 rounded">
            Create Stacks
          </button>
          
        </div>
        <div style="padding-top: 1em;" *ngIf="displayErrorMessage" class="error-message"> {{ errorMessage }} </div>
      </div>
    </form>
  </div>
  <div class="overlay fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" *ngIf="showTeams">
    <div class="card bg-gray-800 text-white p-6 rounded-lg shadow-lg w-3/4 h-3/4 relative overflow-hidden">
      <div id="card-header">
      <button (click)="closeOverlay()" class="close-button absolute top-2 right-2 text-white text-2xl p-2 bg-red-500 rounded-full hover:bg-red-700">
        &times;
      </button>
      <h2 class="text-center text-2xl mb-4">Created Teams</h2>
    </div>
      <div class="scrollable-container h-full overflow-y-auto pr-4">
        <div *ngFor="let team of teams; let teamIndex = index" class="team mb-4">
          <h3 class="text-lg font-bold text-center mb-2">Team {{ teamIndex + 1 }}</h3>
          <ul class="list-none p-0 flex flex-col items-center">
            <li *ngFor="let player of team" class="flex items-center mb-2 bg-gray-700 p-2 rounded-lg w-2/3">
              <img [src]="getRoleIcon(player.assigned_role)" alt="Role Icon" class="role-icon w-6 h-6">
              <span class="player-name">{{ player.name }}</span>
              <span class="player-rank">{{ player.rank }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
