<div class="content">
  <div class="form-container">
    <!-- Column Titles -->
    <div class="example-container column-titles">
      <div>Name</div>
      <div>Rank</div>
      <div>Main Role</div>
      <div>Secondary Role</div>
      <div>I can't play</div>
    </div>
    
    <form [formGroup]="form">
      <div formArrayName="rows">
        <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i" class="form-row">
          <input type="text" formControlName="name" placeholder="Name">
          <select formControlName="rank">
            <option value="Iron4">Iron 4</option>
            <option value="Iron3">Iron 3</option>
            <option value="Iron2">Iron 2</option>
            <option value="Iron1">Iron 1</option>
            <option value="Bronze4">Bronze 4</option>
            <option value="Bronze3">Bronze 3</option>
            <option value="Bronze2">Bronze 2</option>
            <option value="Bronze1">Bronze 1</option>
            <option value="Silver4">Silver 4</option>
            <option value="Silver3">Silver 3</option>
            <option value="Silver2">Silver 2</option>
            <option value="Silver1">Silver 1</option>
            <option value="Gold4">Gold 4</option>
            <option value="Gold3">Gold 3</option>
            <option value="Gold2">Gold 2</option>
            <option value="Gold1">Gold 1</option>
            <option value="Platinum4">Platinum 4</option>
            <option value="Platinum3">Platinum 3</option>
            <option value="Platinum2">Platinum 2</option>
            <option value="Platinum1">Platinum 1</option>
            <option value="Diamond4">Diamond 4</option>
            <option value="Diamond3">Diamond 3</option>
            <option value="Diamond2">Diamond 2</option>
            <option value="Diamond1">Diamond 1</option>
            <option value="Master">Master</option>
            <option value="Grandmaster">Grandmaster</option>
            <option value="Challenger">Challenger</option>
          </select>
          <select formControlName="role1">
            <option value="Top">Top</option>
            <option value="Jungle">Jungle</option>
            <option value="Mid">Mid</option>
            <option value="Adc">Adc</option>
            <option value="Support">Support</option>
          </select>
          <select formControlName="role2">
            <option value="Top">Top</option>
            <option value="Jungle">Jungle</option>
            <option value="Mid">Mid</option>
            <option value="Adc">Adc</option>
            <option value="Support">Support</option>
          </select>
          <select formControlName="role2">
            <option value="Top">Top</option>
            <option value="Jungle">Jungle</option>
            <option value="Mid">Mid</option>
            <option value="Adc">Adc</option>
            <option value="Support">Support</option>
          </select>
        </div>
      </div>
      
      <div>
        <button id="addButton" (click)="addRow()">Add Row</button>
        <button id="deleteButton" (click)="deleteRow()">Delete Row</button>
        <button id="createButton" (click)="createStack()">Create Stacks</button>
      </div>

      <div *ngFor="let team of teams; index as teamIndex">
        <h2>Team {{ teamIndex + 1 }}</h2>
        <ul>
          <li *ngFor="let player of team">
            Name: {{ player.name }}, Rank: {{ player.rank }}, Assigned Role: {{ player.assigned_role }}
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
